.icon {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  font-size: 16px;
  font-weight: 400;
}

.icon-select {
  background-image: url('/images/delete.png');
  background-repeat: no-repeat;
}

.instrument-gallery {
  position: absolute;
  background-color: #fff;
  width: 100%;
}

.instrument-gallery.full-mode {
  top: 60px;
  height: calc(100% - 60px);
}

.gallery {
  padding: 0 12px;
  position: relative;
}

.gallery__panel {
  display: flex;
  padding: 8px 0;
}

.gallery__panel .btn {
  margin-right: 10px;
}

.gallery__content {
  display: flex;
  flex-flow: row wrap;
}

.gallery__add-image {
  display: flex;
  align-items: center;
  border: 1px dashed #617192;
  border-radius: 4px;
}

.gallery__add-image > input {
  display: none;
}

.full-size-button {
  position: absolute;
  right: 0;
  top: 8px;
  right: 8px;
  background-color: transparent;
  cursor: pointer;
}
