:root {
  --slide-outer-border: 1px;
  --slide-border: 1px;
  --slide-inner-border: 1px;
  --slide-total-border: calc(
      var(--slide-outer-border) - var(--slide-border) -
        var(--slide-inner-border)
    ) * 2;
}

.slide {
  width: 100%;
  background-color: #fff;
}

.slide__frame {
  position: absolute;
  width: 50%;
  height: calc(100% - var(--slide-total-border));
  border-style: solid;
  border-width: calc(var(--slide-outer-border) + var(--slide-border));
  border-color: #f1f1f1;
  border-right: none;
  background: url(/images/cell.png) repeat-y;
  background-size: 3px 20px;
  background-position: right;
  box-sizing: border-box;
}

.slide__frame::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: var(--slide-inner-border) solid #dbdbdb;
  border-right: none;
}

.slide__frame::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  border: var(--slide-outer-border) solid #fff;
  border-right: none;
}

.slide__content {
  width: 338px;
  height: 236px;
  flex-shrink: 0;
  flex-grow: 1;
}

.slide__image-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.slide__image {
  width: 60%;
  cursor: pointer;
}

.slide img {
  width: 100%;
}
